---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Кейсы">
  <p>Список кейсов скоро здесь 👀</p>
  <ul>
      <li><a href="/cases/case-1/">Пост 1</a></li>
      <li><a href="#">Пост 2</a></li>
      <li><a href="#">Пост 3</a></li>
  </ul>
</BaseLayout>
